{% extends 'base.html' %}
{% block content %}
    <h2>Add Employee </h2>
    <hr>
    <form action="/add/" method="post">
        {% csrf_token %}
        <label for="first_name">First Name</label> <br>
        <input type="text" id="first_name" name="first_name" value="{{first_name}}"> <br>   
        <label for="last_name">Last Name</label> <br>
        <input type="text" id="last_name" name="last_name" value="{{last_name}}"> <br> 
        <label for="salary">Salary</label> <br>
        <input type="number" id="salary" name="salary" value="{{salary}}"> <br> 
        <label for="dept">Department</label> <br>
        <input type="number" id="dept" name="dept" value="{{dept}}"> <br> 
        <label for="role">Role</label> <br>
        <input type="number" id="role" name="role" value="{{role}}"> <br> 
        <label for="phone">Phone</label> <br>
        <input type="number" id="phone" name="phone" value="{{phone}}"> <br> 
        <!-- <label for="join_date">Join Date</label> <br>
        <input type="number" id="join_date" name="join_date" value="{{join_date}}"> <br> 
               -->
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}